.ucp-notice-text img {
	display: inline;
}

.ucp-notice-text p {
	display: inline;
}

.ucp-notice-text img {
}

.ucp-nav-right div img {
	padding-left: 2px;
	padding-right: 0.05px;
}

.ucp-nav-right div a {
	padding-left: 0.05px;
	padding-right: 0px;
}

.ucp-body {
	height: 675px;
}