.headerwrap {
	margin-top: -20px;
	padding-top: 90px;
}

.headerwrap img {
	margin-top: -2px;
}

.topic img {
	margin-top: 20px;
	margin-left: 16px;
}

.topic .col-xs-1 p {
	padding-top: 20px;
}

.online img {
	margin-top: 50px;
	margin-left: 16px;
}

.statistics img {
	margin-left: 16px;
}

.posttype img {
	float: left;
	margin-top: -3px;
}

.posttype p {
	float: left;
}

.footer p {
	padding: 0;
	margin: 0;
}

.clear {
	float: clear;
}