<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>forum</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- 指定Spring Bean的配置文件所在目录。默认配置在WEB-INF目录下 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:dataSourceBean.xml,
			classpath:daoBean.xml,
			classpath:serviceBean.xml
		</param-value>
	</context-param>
	
	 <!-- 异常处理过滤器 -->  
    <filter>  
        <filter-name>exceptionProcessFilter</filter-name>  
        <filter-class>com.forum.filter.ExceptionProcessFilter</filter-class>  
    </filter>  
    <filter-mapping>  
        <filter-name>exceptionProcessFilter</filter-name>  
        <url-pattern>*.action</url-pattern>  
    </filter-mapping>
    
	<!-- Spring MVC配置 -->
	<!-- ====================================== -->

	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 可以自定义servlet.xml配置文件的位置和名称，默认为WEB-INF目录下，名称为[<servlet-name>]-servlet.xml，如spring-servlet.xml 
			<init-param> <param-name>contextConfigLocation</param-name> <param-value>/WEB-INF/spring-servlet.xml</param-value>&nbsp; 
			默认 </init-param> -->
			<init-param>
				<param-name>contextConfigLocation</param-name>
				<param-value>
					classpath:spring-servlet.xml
				</param-value>
			</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>*.action</url-pattern>
	</servlet-mapping>

	<!-- Spring配置 -->
	<!-- ====================================== -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

</web-app>